form.form
  .form-group
    label User Name:
    input.form-control(type='text')
  .form-group
    label Password:
    input.form-control(type='password')
  button.btn.btn-primary(type='button') Login
  button.btn.btn-default(type='button') Clear
